/*
 * Name: Stewart Wallace 
 */

.root{
	-fx-background-color:'CCFFFF';
}

.tab{
	
	-fx-background-color:'6666FF';

}
.tab:selected .tab-label{
	-fx-underline: true;
}
#reclaimationButton{
	-fx-background-image: url("Reclaimation.png");
}

#userButton{
	-fx-background-image:url("user.png");
}

#dipositionButton{
	-fx-background-image:url("DispositionFormIcon.png");
}

#intakeButton{
	-fx-background-image:url("IntakeForm.png");
}